/* catalogue */

.card{
   border: 1px solid black;
   width: 250px;
   display: inline-block;
   text-align: center;
   padding: .5rem;
}

.card input{
   width: 50px;
}

h2, h3{
   text-align: left;
   margin: 0;
}

.add-to-cart{
   background-color: red;
}

.signs{
   background-color: black;
   color: white;
   font-weight: bold;
}

label{
   display: block;
   margin: 1rem 0;
}
label input{
   text-align: center;
}

#add-to-cart{
   width: 15ch;
}
#remove-from-cart{
   width: 15ch;
   margin-left: 2ch;
}


/* invoice */
table{
   text-align: center;
}