/* home */
.home-display{
   height: 95vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 2em;
   text-align: center;
}

.home-display img{
   object-fit: cover;
   width: 300px;
   height: 300px;
   margin: 1em;
   border-radius: 1em;
}

/* catalogue */

.card{
   border: 1px solid black;
   width: 250px;
   display: inline-block;
   text-align: center;
   padding: .5rem;
}

.card input{
   width: 50px;
}

h2, h3{
   text-align: left;
   margin: 0;
}

.add-to-cart{
   background-color: red;
}

.signs{
   background-color: black;
   color: white;
   font-weight: bold;
}

label{
   display: block;
   margin: 1rem 0;
}
label input{
   text-align: center;
}

#add-to-cart{
   width: 15ch;
}
#remove-from-cart{
   width: 15ch;
   margin-left: 2ch;
}


/* invoice */
table{
   font-size: 1.3rem;
   text-align: center;
   background-color: white;
   border-radius: .5rem;
   width: fit-content;
   margin: 0 auto;
}

th:nth-child(n+2){
   width: 10ch;
}

#total{
   margin-top: 3em;
}